*{
    margin: 0;
    padding: 0;
}
h1{
    margin-bottom: 20px; 
    background-color: #A8C9DF;
    text-align: center;
}
.container-commerce{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}