/* Styles par défaut pour les grands écrans */
.page-commerce h1 {
    margin: 0;
    background-color: #A8C9DF;
    padding: 0;
    padding-top: 21px;
    color: #333;
    text-align: center;
    margin-top: 90px;
}
.chart-placeholder {
    width: 100%;
    margin-top: 10px;
    background-color: #e3e1e2bf; /* Couleur moins foncée que lightgray */
    height: 50vh;
    background-size: cover;
    background-position: center;
    border-radius: 10px; /* Bords arrondis */
}


.actualites-commerce {
    background-color: #A8C9DF;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}


/* le groupe d'articles */
.actualites-commerce {
    height: 30vh;
    margin-bottom: 50vh;
    background-color: #A8C9DF;
    justify-content: center;
}

.actualite-commerce img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 20px auto 0;
    display: block;
}

