/* header  */
body {
    margin: 0;
    padding: 0;
}

.logo {
    position: absolute;
    top: 10vh;
    right: 20vh;
    z-index: 1;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}



.containerHeader {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 00)68%, rgba(255, 255, 255, 1) 96%), url('/Transports_prudent/asset//images/prudent.jpg');

    background-size: cover;
    height: 60vh;
    width: 100%;
    display: flex;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.navbar li {
    margin: 45px;
}

.nav-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.nav-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #000;
    margin-bottom: 5px;
    background-color: #EEF2F2;

}

.nav-item {
    margin: 0 30px;

}


.titre {
    padding-top: 25px;
    font-size: 18px;
    color: black;
    text-align: left;
    margin-left: 5vh;

}

@media (max-width: 768px) {
    .containerHeader {
        height: 40vh;
    }

    .titre {
        visibility: hidden;
    }

    .logo {
       top: 0vh; 
       right: unset;
       border-radius: unset;
       width: 100%;
       text-align: center;
    }

    .actualite-commerce {
        flex: 1 1 100%;
    }
    .navbar ul {
         display: flow-root;
    }
}