*{
    margin: 0;
    padding: 0;
}
h1{
    margin-bottom: 20px; 
    background-color: #A8C9DF;
    text-align: center;
}
.actualites-rh{
   padding: 50px;
}
.resources-humaine{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
}

.actualites-rh, .satisfaction-buttons img{
    height: 80px;
    text-align: center;
    
}
#selected-satisfaction{
     
    font-size: 20px;
  
}
