.page-rh-titre {
 
    background-color: #A8C9DF;
    justify-content: center;
   
}

.actualites-rh h1, .page-rh-titre {
    margin: 0px;
    padding: 0px;
    padding-top: 21px;
    color: #333;
    text-align: center;
    margin-top: 90px;

   
}
/* le groupe d'articles */
.actualites-rh {
    height: 30vh;
    margin-bottom: 50vh;
    background-color: #A8C9DF;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}

.chart-placeholder {
    width: 100%;
    background-color: #e3e1e2bf; /* Couleur moins foncée que lightgray */
    height: 50vh;
    margin-top: 10px;
    background-size: cover;
    background-position: center;
    border-radius: 10px; /* Bords arrondis */
}

.satisfaction-rh {
    height: 32vh;
    margin-bottom: 15vh;
    background-color: #A8C9DF;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}