*{
    margin: 0;
    padding: 0;
}

header{
    background-image: url("{{ ('/asset/images/prudent.jpg') }}");
    background-size: cover;
//     background-position: center;

}

body {
    height: 200px;
    
}
   
  
    footer{
        background-color: aqua;
        height: 100px;
        display: flex;
    }
  