{% extends 'template.html.twig' %}

{% block title %}Graphique Commerce{% endblock %}

{% block content %}

<body>
    <div class="page-commerce ">

        <section class="actualites-commerce row">  
            <h1 class="col-12">Commerce</h1>
            <article class=" col-lg-6 col-md-6 col-sm-12 col-12">  
                <h3 >Chiffre d'affaires par département</h3> 
               
                 <div id="chartContainer" class="chart-placeholder"></div>
            </article>
        
            <article class="col-lg-6 col-md-6 col-sm-12 col-12">
                <h3 >Chiffre d'affaires par année</h3>
             
                <div id="CaParMois" class="chart-placeholder"></div>
            </article>
        </section>

   
    </div>
</body>
 
<script>
    var dataPie = {{ topClientsData | json_encode | raw }};
    var dataSpline = {{ chiffreAffairesParMoisData | json_encode | raw }};
</script>
<script src="{{ asset('./js/commerce.js') }}" ></script>
{% endblock %}
