{% extends 'template.html.twig' %}

{% block title %}Graphique Commerce
{% endblock %}

{% block content %}

	<body>
		<div class="page-commerce container">
			<h1 class="col-lg-12">Commerce</h1>


			<section class="actualites-commerce row">
				<article class="actualite-commerce col-lg-6 col- col-md-6 col-sm-12 col-xs-12">
					<h2>Chiffre d'affaire par département</h2>
					<div id="chartContainer"></div>
				</article>

				<article class="actualite-commerce col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<h2>Chiffre d'affaires par année 2022/2023</h2>
					<div id="CaParMois"></div>
				</article>
			</section>


		</div>
	</body>

	<script>
        // Graphique en secteurs (Pie)
let dataPie = {{ topClientsData | json_encode | raw }};
		// Graphique en spline
let dataSpline = {{ chiffreAffairesParMoisData | json_encode | raw }};
	// ajouter les variables
</script>
<script src="{{ asset('./js/commerce.js') }}"></script>
{% endblock %}
