{% extends 'template.html.twig' %}

{% block title %}Graphique Commerce
{% endblock %}

{% block content %}

	<body>
	<h1 >Commerce</h1>
		<div class="container-commerce">			
					<div id="chartContainer"></div>
					
					<div id="CaParMois"></div>
				
		</div>
	</body>

	<script>
        // Graphique en secteurs (Pie)
let dataPie = {{ topClientsData | json_encode | raw }};
		// Graphique en spline
let dataSpline = {{ chiffreAffairesParMoisData | json_encode | raw }};
	// ajouter les variables
</script>
<script src="{{ asset('./js/commerce.js') }}"></script>
{% endblock %}
