{% extends 'template.html.twig' %}

{% block title %}Graphique Commerce{% endblock %}

{% block content %}
    <h2>Top 10 des clients par chiffre d'affaires</h2>

     <div id="myChartContainer">
        <canvas id="myChart" ></canvas>
    </div>

    <script>
        // Récupération des données depuis PHP et conversion en format JavaScript
        const clientData = {{ topClientsData | json_encode | raw }};

        // Extraction des noms des clients et chiffre d'affaires
        const clientNames = clientData.map(item => item.idClient);
        const chiffreAffaires = clientData.map(item => item.chiffre_affaires);

        // Création du graphique avec Chart.js
        const ctx = document.getElementById("myChart").getContext("2d");
        const myChart = new Chart(ctx, {
            type: "bar",
            data: {
                labels: clientNames,
                datasets: [
                    {
                        label: "Chiffre d'affaires",
                        data: chiffreAffaires,
                        backgroundColor: "rgba(75, 192, 192, 0.2)",
                        borderColor: "rgba(75, 192, 192, 1)",
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                    },
                },
            },
        });
    </script>

{% endblock %}
