

{% extends 'template.html.twig' %}
{% block title %}Graphique Commerce
{% endblock %}
{% block content %}
	<h1 >Commerce</h1>
	<div class="container-commerce">			
		<div id="chartContainer" ></div>
		
		<div id="CaParMois"></div>
	</div>	
<script>
let dataPie = JSON.parse('{{ topClientsData | json_encode | raw }}');
let dataSpline = {{ chiffreAffairesParMoisData
 | json_encode | raw }};
</script>
<script src="{{ asset('./js/commerce.js') }}"></script>
{% endblock %}
