<footer class="row">
    <section class="footers col-12">
        <div class="row">
            <article class="footer col-4">
                <p class="footer-title">TRANSPORTS PRUDENT</p>
                <address>
                    201 Rue des Lauriers ZI Bois de Chize B.P 28<br>
                    71502 Louhans Cedex<br>
                    Tèl: 03.85.76.44.11
                </address>
            </article>

            <article class="footer col-4">
                <div class="footer-links">
                    <p><a href="#">Mentions Légales</a></p>
                    <p><a href="#">Plan du Site</a></p>
                    <p><a href="#">Contactez-nous</a></p>
                </div>
            </article>

            <article class="footer col-4">
                <div class="footer-links">
                    <p><a href="#">Nos Actions Sociales</a></p>
                    <p><a href="#">Plan de Transport</a></p>
                    <p><a href="#">Espace Client</a></p>
                    <p><a href="#">Presse</a></p>
                </div>
            </article>
        </div>
    </section>
    <div class="logo-footer col-12">
        <img src="{{ asset('/images/logo.png') }}" alt="logo-footer">
    </div>
</footer>
