<footer>
	<section class="footers">
		<article class="footer">
			<p>TRANSPORTS PRUDENT</p>
			<p>201 Rue des Lauriers ZI Bois de Chize B.P 28</p>
			<P>71502 Louhans Cedex</P>
			<P>Tèl: 03.85.76.44.11</p>

		</article>

		<article class="footerCenter">
			<p><a href="http://www.transportsprudent.fr/mentions-legales/" target="_blank">Mentions Légales</p>
			<p><a href="http://www.transportsprudent.fr/plan-du-site/" target="_blank">Plan du Site </p>
			<p><a href="http://www.transportsprudent.fr/contacter-transport-prudent-branges/" target="_blank">Contactez-nous</p>
		</article>

		<article class="footer">
			<p><a href="http://www.transportsprudent.fr/prudent-et-plus-encore/" target="_blank">Nos Actions Sociales</a></p>
			<p><a href="http://www.transportsprudent.fr/plan-transport-produit-frais-surgele/" target="_blank">Plan de Transport</a></p>
			<p><a href="http://www.transportsprudent.fr/espace-clients/" target="_blank">Espace Client</a></p>
			<p><a href="http://www.transportsprudent.fr/transporteur-produit-frais-presse/" target="_blank">Presse</a></p>
		</article>



	</section>
	<div class="logo-footer">
		<img src="{{ asset('/images/logo.png') }}" alt="logo-footer">
	</div>

</footer>