<footer>
	<div class="container">
		<div class="paragraphe">
			 <p>Transports prudent</p>
             <p>Transports prudent</p>
             <p>Transports prudent</p>
		</div>
		<div class="logo-footer">
			<img src="{{ asset('/images/logo-transports-prudent.png') }}" alt="logo-footer">
		</div>
		

	</div>


</footer>
