<footer>
	<section class="footers">
		<article class="footer">
			<p>TRANSPORTS PRUDENT</p>
			<p>201 Rue des Lauriers ZI Bois de Chize B.P 28</p>
			<P>71502 Louhans Cedex</P>
			<P>Tèl: 03.85.76.44.11</p>

		</article>

		<article class="footerCenter">
			<p>Mentions Légales</p>
			<p>Plan du Site</p>
			<p>Contactez-nous</p>
		</article>

		<article class="footer">
			<p>Nos Actions Sociales</p>
			<p>Plan de Transport</p>
			<p>Espace Client</p>
			<p>Presse</p>
		</article>



	</section>
	<div class="logo-footer">
		<img src="{{ asset('/images/logo.png') }}" alt="logo-footer">
	</div>

</footer>