<header>
	<div class="container">
		<div class="titre">
			<h1>Bienvenue sur l'Intranet</h1>
		</div>
		<div class="logo">
        <img src="{{ asset('/images/logo-transports-prudent.png') }}" alt="">
        </div>

		<div class="image-arrier">
			<img src="{{ asset('/images/prudent.jpg') }}" alt="">
		</div>
	</div>

</header>
