<header>
	<div class="container">
		<div class="1">
			<h1>Bienvenue sur l'Intranet</h1>
		</div>
		<div class="image-arrier">
        <img src="{{ asset('/images/logo-transport-prudent.png') }}" alt="">
        </div>

		<div class="logo">
			<img src="{{ asset('/images/logo-transport-prudent.png') }}" alt="">
		</div>
	</div>

</header>
