{% extends 'template.html.twig' %}

{% block title %}Bienvenue sur Transports prudent
{% endblock %}


{% block content %}

<div class="page-homepage">
<h1>ACTUALITES</h1>
<section class="actualites-homepage">
    <article class="actualite-homepage">
        <img src="asset/images/meteo.png" alt="meteo">
        <h2>Météo</h2>
        <p>Mercredi 15:00</p>
        <p>Nuageux dans l'ensemble</p>
        <a href="lien_vers_larticle" class="lien">Lire la suite</a>
    </article>

    <article class="actualite-homepage">
        <img src="asset/images/total.png" alt="prix de l'essence total">
        <h2>Le sens de la mesure</h2>
        <p>Avec la vente d'essence à perte, le gouvernement "dans la nasse"</p>
        <a href="lien_vers_larticle" class="lien">Lire la suite</a>
    </article>

    <article class="actualite-homepage">
        <img src="asset/images/potentiel.png" alt="graphique prix du marché du transport">
        <h2>Potentiel du marché à horizon 2027</h2>
        <p>Les chiffres du marché Français du transport</p>
        <a href="lien_vers_larticle" class="lien">Lire la suite</a>
    </article>

</section>

<h1>À PROPOS</h1>
<section class="apropos-homepage">
    <article class="apropo-homepage">
        
 	<p>Dominique Prudent détonne dans le patronat régional.<br> Il a stoppé sa scolarité après le brevet, à 15 ans, « j’étais surtout attiré par le jardin et le foot » dit ce fils de maraîcher.<br> Tout commence à 18 ans. Conduire le camion de papa (qui est devenu négociant en légumes) sort Dominique du giron bressan.<br> Il voit du pays avec un autre employeur.<br> Son sens pratique lui révèle un talent d’« organisateur de flux », on dira plus tard « logisticien »,<br> encore plus exigeant quand on travaille dans le produit frais.<br>Il se met à son compte avec son premier camion. <br>Les centres Leclerc, entre autres, deviennent ses clients.<br> Aujourd’hui, les Transports frigorifiques Prudent représentent une flotte de 200 poids lourds.<br> Fidèle à sa Bresse et ses racines, le patron a sis la société à Branges. Patron créateur.<br> À plusieurs journalistes, il lâche « on n’est pas plus con qu’ailleurs en Bresse ». <br>Nul doute que de voir ses copains Julien Clerc, Gérard Depardieu, Patrick Bruel ou Jean Tigana séjourner chez lui,<br> ripailler chez l’habitant en Bresse.<br> Ces célébrités sont comme lui, ils détestent les donneurs de leçon.<br> À Courchevel il enseigne aux enfants de Bruel, par exemple.<br> Entre l’artiste et le patron-moniteur, le courant passe.<br> De la fréquentation de quelques « Enfoirés » vient aussi en 2009<br> l’idée solidaire d’aider gratis les Restos du Cœur avec ses camions drainant les produits donnés par la grande distribution.<br> Il n’y a que dans sa vie privée que ce créateur atypique, employeur de près de 600 salariés, n’a pas amarré sa barque.</p>
   </article>

</section>
</div>


<script>
    // ajouter les variables
 </script>
 <script src="{{ asset('./js/homepage.js') }}" ></script>
{% endblock %}
