{% extends 'template.html.twig' %}

{% block title %}Bienvenue sur Transports prudent
{% endblock %}


{% block content %}

    <div class="page-homepage">
        <section class="actualites-homepage row">
            <h1 class="col-12">ACTUALITES</h1>
            <article class="actualite-homepage col-lg-4 col-md-12 col-sm-12 col-12">
                
                <div class="actualites">
                    <div class="card">
                        <div class="search-container">
                            <input type="text" class="search-input" placeholder="Entrer le nom de la ville" spellcheck="false">
                            <button class="search-button"><img class="search-img"
                                src="asset/images/search.png" alt="Recherche"></button>
                        </div>
                        <div class="weather">
                            <img class="meteo-img" src="asset/images/rain.png" alt="" class="weather-icon">
                            <h3 class="temp">11°C</h3>
                            <h3 class="city">Louhans</h3>
                            <div class="row details">
                                <div class="col-6">
                                    <img class="info-meteo-img" src="asset/images/humidity.png" alt="">
                                    <p class="humidity">60%</p>
                                    <p>Humidité</p>
                                </div>
                                <div class="col-6">
                                    <img class="info-meteo-img" src="asset/images/wind.png" alt="">
                                    <p class="wind">15 km/h</p>
                                    <p>Vitesse du vent</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </article>

            <article class="actualite-homepage col-lg-4 col-md-12 col-sm-12 col-12">
                <img class="actualite-homepage-img "src="asset/images/total.png" alt="prix de l'essence total">
                <h2>Le sens de la mesure</h2>
                <p>Avec la vente d'essence à perte, le gouvernement "dans la nasse"</p>
                <a href="https://www.zagaz.com/" class="lien">Lire la suite</a>
            </article>

            <article class="actualite-homepage col-lg-4 col-md-12 col-sm-12 col-12 ">
                <img class="actualite-homepage-img "src="asset/images/potentiel.png" alt="graphique prix du marché du transport">
                <h2>Potentiel du marché à horizon 2027</h2>
                <p>Les chiffres du marché Français du transport</p>
                <a href="lien_vers_larticle" class="lien">Lire la suite</a>
            </article>

        </section>

        <section class="apropos-homepage row">
            <h1 class="col-12 apropos-titre">A PROPOS</h1>
            <article class="apropo-homepage col-lg-8 col-md-8 col-sm-12 col-12">

                <p>Dominique Prudent détonne dans le patronat régional.<br> Il a stoppé sa scolarité après le brevet, à
                    15 ans, « j’étais surtout attiré par le jardin et le foot » dit ce fils de maraîcher.<br> Tout
                    commence à 18 ans. Conduire le camion de papa (qui est devenu négociant en légumes) sort Dominique
                    du giron bressan.<br> Il voit du pays avec un autre employeur.<br> Son sens pratique lui révèle un
                    talent d’« organisateur de flux », on dira plus tard « logisticien »,<br> encore plus exigeant quand
                    on travaille dans le produit frais.<br>Il se met à son compte avec son premier camion. <br>Les
                    centres Leclerc, entre autres, deviennent ses clients.<br> Aujourd’hui, les Transports frigorifiques
                    Prudent représentent une flotte de 200 poids lourds.<br> Fidèle à sa Bresse et ses racines, le
                    patron a sis la société à Branges. Patron créateur.<br> À plusieurs journalistes, il lâche « on
                    n’est pas plus con qu’ailleurs en Bresse ». <br>Nul doute que de voir ses copains Julien Clerc,
                    Gérard Depardieu, Patrick Bruel ou Jean Tigana séjourner chez lui,<br> ripailler chez l’habitant en
                    Bresse.<br> Ces célébrités sont comme lui, ils détestent les donneurs de leçon.<br> À Courchevel il
                    enseigne aux enfants de Bruel, par exemple.<br> Entre l’artiste et le patron-moniteur, le courant
                    passe.<br> De la fréquentation de quelques « Enfoirés » vient aussi en 2009<br> l’idée solidaire
                    d’aider gratis les Restos du Cœur avec ses camions drainant les produits donnés par la grande
                    distribution.<br> Il n’y a que dans sa vie privée que ce créateur atypique, employeur de près de 600
                    salariés, n’a pas amarré sa barque.</p>
            </article>

        </section>
    </div>

<script>
    // ajouter les variables
</script>

{% endblock %}