{% extends 'template.html.twig' %}

{% block title %}Graphique RH{% endblock %}

{% block content %}
<body>
    <div class="page-rh">
    <h1>Ressources Humaines</h1>
    <section class="actualites-rh">
        <article class="actualite-rh">
            <img src="asset/images/camenbert.png" alt="">
        </article>

        <article class="actualite-rh">
            <img src="asset/images/absenteisme.png" alt="">
        </article>
    </section>

    <h1>Répartition</h1>
    <section class="actualites-rh">
        <article class="actualite-rh">
            <img src="asset/images/hommefemme.png" alt="">
        </article>

        <article class="actualite-rh">
            <img src="asset/images/personnages.png" alt="">
        </article>
    </section>
    
    <h1> Faites nous part de votre satisfaction</h1> 
    <section class="actualites-rh">
        <article class="actualite-rh">
            <img src="asset/images/satisfaction.png" alt="">
        </article>
    </section>
</div>
</body>

<script>
    
    const genderData = {
        labels: ["Métier 1", "Métier 2", "Métier 3"],
        datasets: [
            {
                label: "Répartition Homme-Femme", // Nouveau label pour l'ensemble des données
                data: [25, 30, 15],
                backgroundColor: ["blue", "pink", "pink"], // Utilisez "pink" pour les secteurs correspondant aux femmes
            },
        ],
    };

    const ctx = document.getElementById("genderDistributionChart").getContext("2d");
    const genderDistributionChart = new Chart(ctx, {
        type: "polarArea", // Change le type de graphique en polarArea
        data: genderData,
    });
</script>


{% endblock %}
